<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SWFanBase!</title>
  <!-- CDN dla Reacta i ReactDOM -->
  <script src="https://unpkg.com/react@18/umd/react.development.js"></script>
  <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>

  <!-- CDN dla Babela, aby JSX zostało przetworzone na JavaScript -->
  <script src="https://unpkg.com/@babel/standalone"></script>
</head>
<body>
<div id="root">
  <a id="login" href="">Login</a>
  <a id="register" href="">Register</a>

  <h1>Welcome to Star Wars Fanbase!</h1>
  <h2>Unfortunately, you are able only to research basic data ... at least you can create and manage your account ;)</h2>

  <form action="">
    <script type="text/babel" src="searchButton.js"></script>

  </form>

</div>
</body>
</html>