<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SW Fanbase!</title>
</head>
<body>
<div id="root">
  <a id="login" href="">Login</a>
  <a id="register" href="">Register</a>

  <h1>Welcome to Star Wars Fanbase!</h1>
  <h2>Unfortunately, you are able only to research basic data ... at least you can create and manage your account ;)</h2>

  <form action="#" th:action="main" method="post">
      <input type="text" id="searchParam" name="searchParam">
      <input type="submit" value="Search">
  </form>

</div>
</body>
</html>